@font-face { 
  font-weight: normal;
  font-family: 'Fax-Sans-Beta';
  font-style: normal;
  src:url('../fonts/Fax-Sans-Beta.ttf.woff') format('woff'),
      url('../fonts/Fax-Sans-Beta.ttf.svg#Fax-Sans-Beta') format('svg'),
      url('../fonts/Fax-Sans-Beta.ttf.eot'),
      url('../fonts/Fax-Sans-Beta.ttf.eot?#iefix') format('embedded-opentype');
}