:root {
  --color-grey-primary: #efefef;
  --color-grey-dark: #dddddd;
  --color-white: #ffffff;
  --color-dark: #111111;
  --color-border: var(--color-dark);
  --color-text: var(--color-dark);
  --color-error: #ff5555;
}